global:
    password: abc123
galette_flarum:
    title: 'Forum Flarum'
    redirect_logout: 'http://192.168.1.99/flarum/public'
    options: teamonly
galette_nc:
    title: 'Le cloud de votre association'
    redirect_logout: 'http://192.168.1.99/nextcloud'
    options: uptodate
